# Build output
x64/
Debug/
Release/
*.obj
*.exe
*.pdb
*.ilk
*.log

# Visual Studio user-specific files
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb

# CMake build artifacts
CMakeFiles/
CMakeCache.txt
build/
install/
cmake_install.cmake
CMakeUserPresets.json
*.cmake
!CMakeLists.txt
!CMakePresets.json
compile_commands.json
CTestTestfile.cmake

# 编译系统生成
*.ipch
*.tlog

